<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>About HDD Usage</title>

        <meta
            http-equiv="Content-Security-Policy"
            content="script-src 'self';"
        />
        <link rel="stylesheet" type="text/css" href="../css/styles.css" />
        <style>
            body {
                color: white;
                font-size: 12px;
            }
            a {
                color: #5488d6;
            }
        </style>
    </head>

    <body>
        <b>HDD Usage</b> shows the utilization of your HDD in MAC Menu bar.
        <ul>
            <li>
                Follow me on <a href="https://twitter.com/madhur25">Twitter</a>
            </li>
            <li>
                Report any
                <a href="https://github.com/madhur/hdd-usage-electron/issues"
                    >issues</a
                >
            </li>
        </ul>
        <p style="font-size: 11px">
            Made with &hearts; in <a href="https://electronjs.org/">Electron</a>
        </p>
        <script src="../js/about.js"></script>
    </body>
</html>
